<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NightlyRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <NightlyRunner.Properties.Settings>
      <setting name="Creator" serializeAs="String">
        <value>Nightly</value>
      </setting>
      <setting name="BenchmarkDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="BenchmarkCategory" serializeAs="String">
        <value>smtlib-latest</value>
      </setting>
      <setting name="BenchmarkFileExtension" serializeAs="String">
        <value>smt2|smt</value>
      </setting>
      <setting name="Parameters" serializeAs="String">
        <value>model_validate=true -smt2 -file:{0}</value>
      </setting>
      <setting name="Domain" serializeAs="String">
        <value>Z3</value>
      </setting>
      <setting name="BenchmarkTimeoutSeconds" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="ExperimentTimeoutSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MemoryLimitMegabytes" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="GitHubOwner" serializeAs="String">
        <value>Z3Prover</value>
      </setting>
      <setting name="GitHubBinariesRepository" serializeAs="String">
        <value>bin</value>
      </setting>
      <setting name="GitHubZ3Repository" serializeAs="String">
        <value>z3</value>
      </setting>
      <setting name="GitHubBinariesNightlyFolder" serializeAs="String">
        <value>nightly</value>
      </setting>
      <setting name="RegexExecutableFileName" serializeAs="String">
        <value>^z3-(\d+\.\d+\.\d+).([\d\w]+)-x86-win.zip$</value>
      </setting>
      <setting name="RegexExecutableFileName_CommitGroup" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="AzureBatchPoolId" serializeAs="String">
        <value>testPool</value>
      </setting>
      <setting name="ExperimentNote" serializeAs="String">
        <value>Nightly run</value>
      </setting>
      <setting name="ConnectionStringSecretId" serializeAs="String">
        <value>z3PerfConnectionString</value>
      </setting>
      <setting name="AADApplicationId" serializeAs="String">
        <value>04fc29f8-a2c2-4242-bc17-18c35730a50d</value>
      </setting>
      <setting name="AADApplicationCertThumbprint" serializeAs="String">
        <value>510E3EB7B2172ACEEF3D297A2305D278F546F443</value>
      </setting>
      <setting name="KeyVaultUrl" serializeAs="String">
        <value>https://z3perftest.vault.azure.net</value>
      </setting>
      <setting name="SummaryName" serializeAs="String">
        <value>Z3Nightly</value>
      </setting>
    </NightlyRunner.Properties.Settings>
  </applicationSettings>
</configuration>