<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Batch" version="8.1.0" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.4.0" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>