<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angara.Serialization" version="0.3.0" targetFramework="net48" />
  <package id="Angara.Statistics" version="0.1.4" targetFramework="net48" />
  <package id="Angara.Table" version="0.3.3" targetFramework="net48" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.52.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.22.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net48" />
</packages>